{% extends "base.html" %}

{% block body %}
<div class="container-fluid my-4">
    <h1>Add An Employee!</h1>
    <form action="/add_emp/" method="post">
        {% csrf_token %}
        
            <label for="first_name" >First Name</label>
            <input type="text"  name="first_name" id="first_name"  value={{first_name}}><br>
            <hr>
        
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" value={{last_name}}><br>
            <hr>

            <label for="salary">Salary</label>
            <input type="number" name="salary" id="salary" value={{salary}}><br>
            <hr>

            <label for="phone">Phone</label>
            <input type="number" name="phone" id="phone"value={{phone}}><br>
            <hr>

            <label for="dept">Department</label>
            <input type="number" name="dept" id="dept" value={{dept}}><br>
            <hr>

            <label for="role">Role</label>
            <input type="number"  name="role" id="role"value={{role}}><br>
            <hr>

            <label for="bonus">Bonus</label>
            <input type="number" name="bonus" id="bonus"value={{bonus}}><br>
            <hr>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" href="{% url 'home' %}">Go Back</a>
      </form>

    
{% endblock body %}