{% extends "base.html" %}

{% block body %}
<div class="container-fluid my-4">
    <h1>Remove An Employee!</h1>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Choose employee to be remove
        </button>
        <ul class="dropdown-menu">
            {% for emp in emps %}
          <li><a class="dropdown-item" href="/remove_emp/{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a></li>
          {% endfor %}
        </ul>

        <a class="btn btn-secondary" href="{% url 'home' %}">Go Back</a>

      </div>   
</div>

{% endblock  %}